model {
  alphabet: "_abcdefghijklmnopqrstuvwxyz '."

  encoder_decoder {
    encoder {
      vgg {
        vgg_config: B;
        batch_norm: true;
        use_output_from_block: TWO;
      }

      rnn {
        rnn_type: LSTM;
        hidden_size: 1024;
        num_layers: 5;
        bias: True;
        bidirectional: true;
      }
    }

    decoder {
      fully_connected {
        num_hidden_layers: 0;
      }
    }
  }

  loss {
    ctc_loss {
      blank_index: 0;
      reduction: MEAN;
    }
  }

  post_processing {
    ctc_beam_decoder {
      blank_index: 0;
      beam_width: 20;
      prune_threshold: 0.001;
      separator_index: 27;
      langauge_model {
        no_lm { }
      }
      word_weight: 2.0;
    }
  }
}

train_config {
  preprocessing_step {
    mfcc {
      numcep: 83;
      winlen: 0.025;
      winstep: 0.020;
    }
  }
}

eval_config {
  preprocessing_step {
    mfcc {
      numcep: 83;
      winlen: 0.025;
      winstep: 0.020;
    }
  }
}
