speech_to_text {
  alphabet: " abcdefghijklmnopqrstuvwxyz'_";

  pre_process_step {
    stage: TRAIN_AND_EVAL;
    mfcc {
      n_mfcc: 26;
      win_length: 400;
      hop_length: 320;
    }
  }

  pre_process_step {
    stage: TRAIN_AND_EVAL;
    standardize {
    }
  }

  pre_process_step {
    stage: TRAIN_AND_EVAL;
    context_frames {
      n_context: 9;
    }
  }

  deep_speech_1 {
    n_hidden: 32;
    drop_prob: 0.25;
    relu_clip: 20.0;
    forget_gate_bias: 1.0;
  }

  ctc_loss {
    blank_index: 28;
    reduction: SUM;
  }

  ctc_greedy_decoder {
    blank_index: 28;
  }
}

train_config {
  batch_size: 2;
  epochs: 1000;
  adam {
    learning_rate: 0.001;
  }
  dataset {
    commonvoice {
      root: "/home/samg/CommonVoice";
      subset: TRAIN;
      max_secs {
        value: 16.7;
      }
    }
  }
  shuffle_batches_before_every_epoch: true;
}

eval_config {
  batch_size: 2;
  dataset {
    commonvoice {
      root: "/home/samg/CommonVoice";
      subset: DEV;
    }
  }
}
