speech_to_text {
  alphabet: " abcdefghijklmnopqrstuvwxyz'_";

  pre_process_step {
    stage: TRAIN_AND_EVAL;
    mfcc {
      n_mfcc: 26;
      win_length: 400;
      hop_length: 320;
    }
  }

  pre_process_step {
    stage: TRAIN;
    spec_augment {
      feature_mask: 3;
      time_mask: 20;
      n_feature_masks: 2;
      n_time_masks: 2;
    }
  }

  pre_process_step {
    stage: TRAIN_AND_EVAL;
    context_frames {
      n_context: 9;
    }
  }

  deep_speech_1 {
    n_hidden: 1024;
    drop_prob: 0.25;
    relu_clip: 20.0;
    forget_gate_bias: 1.0;
  }

  ctc_loss {
    blank_index: 28;
    reduction: SUM;
  }

  ctc_greedy_decoder {
    blank_index: 28;
  }
}

train_config {
  batch_size: 96;
  epochs: 1000;
  adam {
    learning_rate: 0.0003;
  }
  dataset {
    librispeech {
      root: "/data/";
      subset: TRAIN_CLEAN_100;
      subset: TRAIN_CLEAN_360;
      max_secs {
        value: 16.7;
      }
    }
  }
  shuffle_batches_before_every_epoch: true;
}

eval_config {
  batch_size: 96;
  dataset {
    librispeech {
      root: "/data/";
      subset: DEV_CLEAN;
    }
  }
}
