speech_to_text {
  alphabet: " abcdefghijklmnopqrstuvwxyz'_";

  pre_process_step {
    stage: TRAIN_AND_EVAL;
    log_mel_filter_bank {
      n_mels: 80;
      win_length: 400;
      hop_length: 160;
    }
  }

  pre_process_step {
    stage: TRAIN_AND_EVAL;
    standardize {
    }
  }

  pre_process_step {
    stage: TRAIN;
    spec_augment {
      feature_mask: 3;
      time_mask: 20;
      n_feature_masks: 2;
      n_time_masks: 2;
    }
  }

  pre_process_step {
    stage: TRAIN_AND_EVAL;
    context_frames {
      n_context: 2;
    }
  }

  pre_process_step {
    stage: TRAIN_AND_EVAL;
    downsample {
      subsample: 2;
    }
  }

  transducer {
    transducer_encoder {
      fc1 {
        num_hidden_layers: 1;
        hidden_size: 1152;
        dropout: {value: 0.25}
        activation {
          hardtanh {
            min_val: 0.0;
            max_val: 20.0;
          }
        }
      }
      rnn1 {
        rnn_type: LSTM;
        hidden_size: 1152;
        num_layers: 5;
        bias: true;
        bidirectional: false;
        forget_gate_bias: {value: 1.0}
      }

      fc2 {
        num_hidden_layers: 1;
        hidden_size: 1152;
        dropout: {value: 0.25}
        activation {
          hardtanh {
            min_val: 0.0;
            max_val: 20.0;
          }
        }
      }
    }
    transducer_predict_net {
      pred_nn {
        rnn {
          rnn_type: LSTM;
          hidden_size: 256;
          num_layers: 2;
          bias: true;
          bidirectional: false;
          forget_gate_bias: {value: 1.0}
        }
      }
    }
    transducer_joint_net {
      fc {
        num_hidden_layers: 1;
        hidden_size: 512;
        dropout: {value: 0.25}
        activation {
          hardtanh {
            min_val: 0.0;
            max_val: 20.0;
          }
        }
      }
    }
  }

  transducer_loss {
    blank_index: 28;
    reduction: SUM;
  }

  transducer_greedy_decoder {
    blank_index: 28;
    max_symbols_per_step: 100;
  }
}

  train_config {
    batch_size: 8;
    epochs: 20;
    adam {
      learning_rate: 0.0001;
    }
    constant_lr {};
    lr_warmup: {
      num_warmup_steps: 8000;
      min_multiple_of_lr: {value: 0.1}
    }
    dataset {
      librispeech {
        root: "~/Data/";
        subset: TRAIN_CLEAN_100;
        subset: TRAIN_CLEAN_360;
        subset: TRAIN_OTHER_500;
        max_secs {
          value: 16.7;
        }
      }
    }
    shuffle_batches_before_every_epoch: true;
  }

  eval_config {
    batch_size: 1;
    dataset {
      librispeech {
        root: "~/Data/";
        subset: DEV_CLEAN;
      }
    }
  }
