speech_to_text {
  alphabet: " abcdefghijklmnopqrstuvwxyz'_";

  pre_process_step {
    stage: TRAIN_AND_EVAL;
    lmfb {
      n_mels: 80;
      win_length: 400;
      hop_length: 160;
    }
  }

  pre_process_step {
    stage: TRAIN_AND_EVAL;
    standardize {
    }
  }

  pre_process_step {
    stage: TRAIN_AND_EVAL;
    left_context_frames {
      n_context: 3;
      subsample: 2;
    }
  }

  rnn_t {
    transcription {
      n_hidden: 1152;
      rnn_layers: 2;
    }

    prediction {
      n_hidden: 256;
      rnn_layers: 2;
    }

    joint {
      n_hidden: 512;
    }
  }

  rnn_t_loss {
    blank_index: 28;
    reduction: SUM;
  }

  rnn_t_greedy_decoder {
    blank_index: 28;
    max_symbols_per_step: 100;
  }
}

train_config {
  batch_size: 8;
  epochs: 40;
  adam {
    learning_rate: 0.0003;
  }
  dataset {
    librispeech {
      root: "/data/";
      subset: TRAIN_CLEAN_100;
      max_secs {
        value: 16.7;
      }
    }
  }
  shuffle_batches_before_every_epoch: true;
}

eval_config {
  batch_size: 8;
  dataset {
    librispeech {
      root: "/data/";
      subset: DEV_CLEAN;
    }
  }
}
